absl-py
adam
aiohttp
aiosignal
anyio
argcomplete
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-generator
async-timeout
asynctest
attrs
backcall
beautifulsoup4
black
bleach
blis
Brotli
bs4
cachetools
catalogue
certifi
cffi
cfgv
chardet
charset-normalizer
click
colorama
comm
compressed-rtf
confection
config
contourpy
coverage
cssselect
cv
cycler
cymem
dataclasses-json
debugpy
decorator
deep-translator
defusedxml
distlib
dnspython
docker
docx2txt
duckduckgo-search
ebcdic
exceptiongroup
executing
extract-msg
faiss-cpu
fastjsonschema
filelock
flake8
Flask
Flask-Cors
flatbuffers
fonttools
fqdn
frozenlist
fsspec
fuzzywuzzy
gast
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-translate
google-pasta
googleapis-common-protos
greenlet
grpcio
grpcio-status
gTTS
gunicorn
h11
h2
h5py
hpack
httpcore
httplib2
httpx
huggingface-hub
hyperframe
identify
idna
IMAPClient
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
isort
itsdangerous
jedi
Jinja2
joblib
jsonpickle
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
keras
kiwisolver
langchain
langcodes
Levenshtein
libclang
loguru
lxml
Markdown
MarkupSafe
marshmallow
marshmallow-enum
matplotlib
matplotlib-inline
mccabe
mistune
multidict
murmurhash
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nodeenv
notebook
notebook_shim
numexpr
numpy
oauthlib
olefile
openai
openapi-schema-pydantic
opencv-python
opt-einsum
orjson
outcome
packaging
pandas
pandocfilters
parso
pathspec
pathy
pdfminer.six
pickleshare
Pillow
pinecone-client
platformdirs
playsound
plotly
pluggy
pre-commit
preshed
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
py-cpuinfo
py4j
pyasn1
pyasn1-modules
pycodestyle
pycparser
pycryptodome
pydantic
pyflakes
Pygments
pyparsing
pyrsistent
PySocks
pyspark
pytest
pytest-asyncio
pytest-benchmark
pytest-cov
pytest-integration
pytest-mock
python-dateutil
python-dotenv
python-json-logger
python-Levenshtein
python-pptx
pytz
pytz-deprecation-shim
pyvis
PyYAML
pyzmq
qtconsole
QtPy
rapidfuzz
readability-lxml
redis
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rsa
safetensors
scikit-learn
scipy
selenium
Send2Trash
sequential
six
sklearn
smart-open
smmap
sniffio
socksio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
SQLAlchemy
srsly
stack-data
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
textract
thinc
threadpoolctl
tinycss2
tokenizers
tomli
tornado
tqdm
traitlets
transformers
trio
trio-websocket
tweepy
typer
typing-inspect
typing_extensions
tzdata
tzlocal
uri-template
uritemplate
urllib3
virtualenv
warc
warcio
wasabi
wcwidth
webcolors
webdriver-manager
webencodings
websocket-client
Werkzeug
widgetsnbextension
win32-setctime
wrapt
wsproto
xlrd
XlsxWriter
yarl
